* {
	font-family: 'GardinerRegular', Verdana, sans-serif;
	color: #665544;
	text-align: center;
}
body {
	width: 90%;
    margin: 0 auto;
    background-image:url("images/waterlilyPatternBackground1.png")}

#content {
	overflow: auto;
}

#nav li {
	display: inline;
	padding: 0.5em;
}

#nav {
	background-color: #a8e4b8;
	padding: 0.5em 0;
    line-height:1.5em;
}
    
#footer {
        background-color: #5d868d;  
        margin:1em;      
        padding: 0.5em 0;}

#feature {
	height: 10em;
	margin-top: 1em;
	margin-bottom: 1em;
    padding:1em;
    padding-right:13em;
    background-color: #8ebfa5;
    background-image: url("images/dotaLogo.png");
    background-size:175px 175px;
    background-position: 98%;
	background-repeat:no-repeat;
}

#dota {
	margin-top: 1em;
	margin-bottom: 1em;
    padding:1em;  
    padding-top:2em;
    background-color: #8ebfa5;
}
