* {
	font-family: 'GardinerRegular', Verdana, sans-serif;
	color: #665544;
	text-align: center;
}

body {
	width: 90%;
    margin: 0 auto;
    background-image:url("https://cieracwaller.github.io/winter2019/images/waterlilyPatternBackground1.png")
}

#content {
	overflow: auto;
}

#nav li {
	display: inline;
	padding: 0.5em;
}

#nav {
	background-color: #a8e4b8;
	padding: 0.5em 0;
    line-height:1.5em;
}
    
#footer {
        background-color: #5d868d;  
        padding: 0.5em 0;
        text-align
}

.feature {
	height: 10em;
    margin-top: 1em;
	margin-bottom: 1em;
    padding-left:20px;
    padding-right:20px;
    padding-top:5px;
    padding-bottom:5px;
}

.intro{
  height: 3em;
  background-color: #8ebfa5;
}

.artifact1{
  background-color: #ffd8c5;
  background-image: url("https://cieracwaller.github.io/winter2019/images/logo_usp.png");
        background-size:contain;
        background-position: right;
	background-repeat:no-repeat;
}
.artifact2{
  background-color: #ffccc6;
  background-image: url("https://cieracwaller.github.io/winter2019/images/knight.jpg");
        background-size:contain;
        background-position: right;
	background-repeat:no-repeat;
}
.artifact3{
  background-color: #e1afc6;
  background-image:url("")
  background-size:contain;
  background-position: right;
  background-repeat:no-repeat;
}
.artifact4{
  background-color: #b99aab;
  background-image:url("")
  background-size:contain;
  background-position: right;
  background-repeat:no-repeat;
}
.artifact5{
  background-color: #9a9baf;
  background-image:url("")
  background-size:contain;
  background-position: right;
  background-repeat:no-repeat;
}


